:root {
    --primary: #3a78bf;
    --secondary: #af4e1d;
    --success: #6a3bc8;
    --info: #2011EE;
    --warning: #C2933D;
    --danger: #c23d3d;
    --dark: #181c32;
    --light: #fff;

    --input-btn-focus-width: 0.1rem;
    --input-btn-focus-color: rgba(0, 71, 115, 0.25);
    --input-btn-focus-color-opacity: 0.25;
    --input-placeholder-color: #adadb4;
    --input-font-weight: 500;
    --input-bg: #f5f8fa;
    --input-group-addon-bg: var(--input-bg);

    --font-family-sans-serif: "IBM Plex Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-size-base: 0.9rem;
    --font-weight-normal: 400;

    --breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
    --modal-transition: cubic-bezier(0.4, 0, 0.2, 1);
    --modal-fade-transform: translate(0, -1050px);
    --modal-show-transform: none;

    --transition-base: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    --transition-fade: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    --transition-collapse: height 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    --card-border-width: 0;
    --card-box-shadow: 0px 0px 20px rgba(94, 98, 120, 0.04);
    --body-bg: #dae3ec;
}